header{
    display: flex;
    padding: 30px 100px;
    flex-direction: column;
    background-color: #34252F;
}
li{
    color: #F7F3F5;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.nav-bar ul{
    display: flex;
    padding: 0;
    justify-content: space-between;
    list-style-type: none;
}
.li-div{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.li-div li{
    cursor: pointer;
}
.about{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
}
.about-info{
    width: 1fr;
}
.about-info h1{
    font-size: 50px;
}
.about-info h1, p{
    color: #F7F3F5;
}
.about-info p{
    line-height: 30px;
    font-size: 20px;
    width: 60%;
}
.about-profile{
    width: 2fr;  
}
.profile{
    width: 300px;
    border-radius: 150px;
}
.contact-button{
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    color: #34252F;
}
.contact-button:hover{
    color: #F7F3F5;
    background-color: #34252F;
    border: 1px solid #F7F3F5;
}
@media (min-width : 360px) and (max-width: 500px){
    body{
        width: 100%;
    }
    header{
        width: 100%;
    }
    .li-div{
        display: none;
    }
    .about{
        display: flex;
        flex-direction: column;
        gap: 70px;
        text-align: center;
        margin-top: 10px;
    }
    .about-info{
        width: 100%;
    }
    .about-info h1{
        font-size: 40px;
    }
    .about-info p{
        width: 100%;
        font-size: 20px;
    }
    .contact-button{
        padding: 10px 20px;
        font-weight: 500;
    }
    .about-profile{
        display: inline-block;
        text-align: center;
    }
    .profile{
        width: 200px;
        border: 100px;
    }
    main{
        padding: 0px;
        margin-top: 0px;
    }
}